<h1>
	Welcome to your Tuition Reimbursement Portal <span id="name"></span>!
</h1>
<span id = "homeMessage" ></span>
<br />
<table id="formTable" class="display">
	<thead>
		<tr>
			<!-- If there is time, pull the name of the Employee who submitted the Request and add to top -->
			<!-- <th>Form ID</th> -->
			<th>Employee ID</th>
			<!--<th>Submitter</th> -->
			<th>Date Submitted</th>
			<th>Start Date</th>
			<th>Location</th>
			<th>Training Cost</th>
			<th>Grading Format</th>
			<th>Supervisor Approval</th>
			<th>Department Approval</th>
			<th>BenCo Approval</th>
			<th>Grade Earned</th>
			<th>Reimbursement Awarded</th>
		</tr>
	</thead>
</table>