<div>

    <h1>Login</h1>

		<div id = "myForm">
        
            <div id = "myFieldset">
            
                <label for = "email">Email</label>
                <input type = "text" id = "email" required = "required" />
            
                <label for = "myLName">Password</label>
                <input type = "password" id = "password" required = "required" />

            </div>
        
        </div>
        
        <button id = "login" class="btn btn-lg btn-success btn-block">Log In</button>
        <!-- <button id = "register" class="btn btn-lg btn-primary btn-block">Register</button> -->
        <br />
        <p class = "danger" id = "message"></p>
     
        <!--  Implement if possible, for now, just the basics
        <div>
            <label for="" class="pull-left checkbox-inline" >
                <input type="checkbox" />Remember Me
            </label>
            <a href="#" class="pull-right"></a>
        </div>
        -->
     

</div>