<div class = "jumbotron container">

    <h1>Login and Registration</h1>

    <form>
					
        <fieldset>
            
            <label for = "email">Email</label>
            <input type = "text" name = "email" id = "email" required = "required" />
        
            <label for = "myLName">Password</label>
            <input type = "password" name = "password" id = "password" required = "required" />
        
        </fieldset>
        
        <button id = "login" class="btn btn-lg btn-success btn-block">Log In</button>
        <!-- <button id = "register" class="btn btn-lg btn-primary btn-block">Register</button> -->
        <br />
        <p class = "danger" id = "message"></p>
        
        <!--  Implement if possible, for now, just the basics
        <div>
            <label for="" class="pull-left checkbox-inline" >
                <input type="checkbox" />Remember Me
            </label>
            <a href="#" class="pull-right"></a>
        </div>
        -->
        
    </form>

</div>