<br>
<div class="container">
	<div class="panel-body inf-content">
		<div class="row">
			<div class="col-md-6">
				<button class="btn btn-success btn-apply">Apply</button>
				<br>
				<h4 id="evt-title"></h4>

				<br>
				<div class="table-responsive">
					<table
						class="table table-condensed table-responsive table-user-information">
						<tbody>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-asterisk text-primary"></span>
										Course Cost
								</strong></td>
								<td class="text-primary info-cost"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-envelope text-primary"></span>
										Reward Amount
								</strong></td>
								<td class="text-primary info-amount"></td>
							</tr>

							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-eye-open text-primary"></span>
										Grading Format
								</strong></td>
								<td class="text-primary info-grad"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span> Type
								</strong></td>
								<td class="text-primary info-type"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Description
								</strong></td>
								<td class="text-primary info-desc"></td>
							</tr>

							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Event Date
								</strong></td>
								<td class="text-primary info-date"></td>
							</tr>


							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Course Start Date
								</strong></td>
								<td class="text-primary info-start"></td>
							</tr>

							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Submission Deadline
								</strong></td>
								<td class="text-primary info-dead"></td>
							</tr>

							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Event Country
								</strong></td>
								<td class="text-primary info-country"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Event City
								</strong></td>
								<td class="text-primary info-city"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Event Province
								</strong></td>
								<td class="text-primary info-province"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Event Postal Code
								</strong></td>
								<td class="text-primary info-postal"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Event Address 1
								</strong></td>
								<td class="text-primary info-addr1"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Event Address 2
								</strong></td>
								<td class="text-primary info-addr2"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Event Phone
								</strong></td>
								<td class="text-primary info-phone"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<br>