<div class="container"">
	<div class="panel-body inf-content">
		<div class="row">
			<div class="col-md-4">
				<img alt="" style="width: 600px;" title=""
					class="img-circle img-thumbnail isTooltip"
					src="https://bootdey.com/img/Content/user-453533-fdadfd.png"
					data-original-title="Usuario">
				<h3>Reimbursement</h3>
				<h5 id="info-balance"></h5>
			</div>
			<div class="col-md-6">
				<h4>Information</h4><br>
				<div class="table-responsive">
					<table
						class="table table-condensed table-responsive table-user-information">
						<tbody>
							<tr>
								<td><strong> <span class="glyphicon glyphicon-asterisk text-primary"></span>
										ID
								</strong></td>
								<td id="info-id" class="text-primary"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-envelope text-primary"></span>
										Email
								</strong></td>
								<td id="info-email" class="text-primary"></td>
							</tr>

							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-eye-open text-primary"></span> Department
								</strong></td>
								<td id="info-dep" class="text-primary"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Supervisor
								</strong></td>
								<td id="info-sup" class="text-primary"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Department Head
								</strong></td>
								<td id="info-dep-head" class="text-primary"></td>
							</tr>
							
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Country
								</strong></td>
								<td id="info-country" class="text-primary"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										City
								</strong></td>
								<td id="info-city" class="text-primary"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Province
								</strong></td>
								<td id="info-province" class="text-primary"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Postal Code
								</strong></td>
								<td id="info-postal" class="text-primary"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Address 1
								</strong></td>
								<td id="info-addr1" class="text-primary"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Address 2
								</strong></td>
								<td id="info-addr2" class="text-primary"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Phone
								</strong></td>
								<td id="info-phone" class="text-primary"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
