<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TRMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul id="nav-btns" class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" id="btn-home" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="btn-events" href="#">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="btn-approvals" href="#">Approvals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="btn-requests" href="#">Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="btn-logout" href="#">Log Out</a>
            </li>
        </ul>
   	 	<span id="nav-title" class="navbar-text"></span>
    </div>
</nav>
