<div class="container">

	<div class="main-login main-center">
		<form class="form-horizontal" method="post" action="#">
			<div class="form-group">
				<center>
					<h2>Registration</h2>
				</center>
				<label class="cols-sm-2 control-label">Email</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="fa fa-envelope fa" aria-hidden="true"></i></span> <input
							id="email-field" type="text" class="form-control" name="email"
							placeholder="Enter your Email" />
					</div>
				</div>
			</div>


			<div class="form-group">
				<label class="cols-sm-2 control-label">Password</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock fa-lg"
							aria-hidden="true"></i></span> <input id="pass-field" type="password"
							class="form-control" name="password"
							placeholder="Enter your Password" />
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="cols-sm-2 control-label">Confirm Password</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock fa-lg"
							aria-hidden="true"></i></span> <input type="password"
							class="form-control" name="confirm" id="pass-confirm"
							placeholder="Confirm your Password" />
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="cols-sm-2 control-label">Department</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<input id="dep-text" type="text" class="form-control" placeholder="Select your Department" readonly/>
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">Departments
							</button>
							<div id="depmenu" class="dropdown-menu">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="cols-sm-2 control-label">Supervisor</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<input id="sup-text" type="text" class="form-control" placeholder="Select your Supervisor" readonly/>
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">Supervisors
							</button>
							<div id="supmenu" class="dropdown-menu">
							</div>
						</div>
					</div>
				</div>
			</div>



			<div class="form-group">
				<label class="cols-sm-2 control-label">Country</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="fa fa-envelope fa" aria-hidden="true"></i></span> <input
							id="country-field" type="text" class="form-control"
							placeholder="Enter your country" />
					</div>
				</div>
			</div>



			<div class="form-group">
				<label class="cols-sm-2 control-label">City</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="fa fa-envelope fa" aria-hidden="true"></i></span> <input
							id="city-field" type="text" class="form-control"
							placeholder="Enter your city name" />
					</div>
				</div>
			</div>



			<div class="form-group">
				<label class="cols-sm-2 control-label">Province</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="fa fa-envelope fa" aria-hidden="true"></i></span> <input
							id="province-field" type="text" class="form-control"
							placeholder="Enter your province name" />
					</div>
				</div>
			</div>
			
			
			
			<div class="form-group">
				<label class="cols-sm-2 control-label">Postal Code</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="fa fa-envelope fa" aria-hidden="true"></i></span> <input
							id="postal-field" type="text" class="form-control"
							placeholder="Enter your postal code" />
					</div>
				</div>
			</div>
			
			
			
			<div class="form-group">
				<label class="cols-sm-2 control-label">Address 1</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="fa fa-envelope fa" aria-hidden="true"></i></span> <input
							id="addr1-field" type="text" class="form-control"
							placeholder="Enter your address" />
					</div>
				</div>
			</div>


			<div class="form-group">
				<label class="cols-sm-2 control-label">Address 2 (optional)</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="fa fa-envelope fa" aria-hidden="true"></i></span> <input
							id="addr2-field" type="text" class="form-control"
						
							placeholder="Enter your address" />
					</div>
				</div>
			</div>


			<div class="form-group">
				<label class="cols-sm-2 control-label">Phone Number (optional)</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="fa fa-envelope fa" aria-hidden="true"></i></span> <input
							id="phone-field" type="text" class="form-control"
							placeholder="Enter your phone number" />
					</div>
				</div>
			</div>


			<div class="form-group ">
				<button id="register" type="button"
					class="btn btn-primary btn-lg btn-block login-button">Register</button>
			</div>
			<div class="form-group ">
				<button id="go-to-login" type="button"
					class="btn btn-secondary btn-md btn-block login-button">Back
					to Login</button>
			</div>
		</form>
	</div>
</div>