<br>
<div class="container">
	<div class="panel-body inf-content">
		<div class="row">
			<div class="col-md-6">
				<button class="btn btn-primary btn-approve">Approve</button>
				<button class="btn btn-danger btn-deny">Deny</button>
				<br>
				<h4 id="evt-title"></h4>

				<br>
				<div class="table-responsive">
					<table
						class="table table-condensed table-responsive table-user-information">
						<tbody>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Employee Email
								</strong></td>
								<td class="text-primary info-email"></td>
							</tr>

							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Employee Balance
								</strong></td>
								<td class="text-primary info-balance"></td>
							</tr>

							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Employee Department
								</strong></td>
								<td class="text-primary info-dep"></td>
							</tr>

							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-asterisk text-primary"></span>
										Course Cost
								</strong></td>
								<td class="text-primary info-cost"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-envelope text-primary"></span>
										Reward Amount
								</strong></td>
								<td class="text-primary info-amount"></td>
							</tr>

							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-eye-open text-primary"></span>
										Grading Format
								</strong></td>
								<td class="text-primary info-grad"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span> Type
								</strong></td>
								<td class="text-primary info-type"></td>
							</tr>
							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Description
								</strong></td>
								<td class="text-primary info-desc"></td>
							</tr>

							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Event Date
								</strong></td>
								<td class="text-primary info-date"></td>
							</tr>


							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Course Start Date
								</strong></td>
								<td class="text-primary info-start"></td>
							</tr>

							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Submission Deadline
								</strong></td>
								<td class="text-primary info-dead"></td>
							</tr>

							<tr>
								<td><strong> <span
										class="glyphicon glyphicon-calendar text-primary"></span>
										Status
								</strong></td>
								<td class="text-primary info-req-status"></td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<br>