<table id="ownrequests" class="table table-striped table-bordered">
	<thead>
        <tr>
            <th>Claim Number</th>
            <th>Date Submitted</th>
            <th>Status</th>
            <th>Event</th>
            <th>Event Type</th>
            <th>Projected Reimbursement Amount</th>
            <th>Justification for Request</th>
            <th>Grading Format</th>
            <th>Minimum Passing Grade (%)</th>
            <th>Miscellaneous Comments</th>
        </tr>
    </thead>
</table>