<div class="container">
	<div class="card card-container text-center">
		  <div class="form-group row">
		    <label for="fname">First Name</label> 
		    <input id="fname" name="fname" required="required" class="form-control here" type="text">
		  </div>
		  <div class="form-group row">
		    <label for="lname">Last Name</label> 
		    <input id="lname" name="lname" required="required" class="form-control here" type="text">
		  </div>
		  <div class="form-group row">
		    <label for="email">Email Address</label> 
		    <input id="email" name="email" required="required" class="form-control here" type="text">
		  </div>
		  <div class="form-group row">
		    <label for="pw">Password</label> 
		    <input id="pw" name="pw" aria-describedby="pwHelpBlock" required="required" class="form-control here" type="password"> 
		    <span id="pwHelpBlock" class="form-text text-muted">Must be at least 8 characters. Alphanumeric and special characters are allowed.</span>
		  </div>
		  <div class="form-group row">
		    <label for="cpw">Confirm Password</label> 
		    <input id="cpw" name="cpw" required="required" class="form-control here" type="password">
		  </div>
		  <div class="form-group row">
		    <label for="emptype">Employee Position</label> 
		    <div>
		      <select id="emptype" name="emptype" required="required" class="custom-select">
		        <option value="1">Standard</option>
		        <option value="2">Supervisor</option>
		        <option value="3">Department Head</option>
		        <option value="4">Benefits Coordinator</option>
		      </select>
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="sfname">Supervisor's First Name</label> 
		    <input id="sfname" name="sfname" required="required" class="form-control here" type="text">
		  </div>
		  <div class="form-group row">
		    <label for="slname">Supervisor's Last Name</label> 
		    <input id="slname" class="form-control here" type="text">
		  </div> 
		  <div class="form-group row">
		    <button id="register" class="btn btn-primary btn-lg btn-block">Register</button>
		  </div>
	</div>
</div>