<div class="modal-dialog">
	<div class="loginmodal-container">
		<h1>Register An Account</h1><br>
<!-- 	  <form> -->
			<input type="text" id="firstname" placeholder="First Name">
			<input type="text" id="lastname" placeholder="Last Name">
			<input type="text" id="email" placeholder="email">
			<div class="alert alert-danger" id="message" ></div>
			<input type="password" id="pass" placeholder="password">
			<input type="submit" id="doregister" class="login loginmodal-submit" value="Register">
<!-- 	  </form> -->
	  <div class="login-help">
			Back to Login - <a href="#" id="landing">Login</a>
	  </div>
	</div>
</div>