<div class="request-form">
	<div class="backdrop">
		<div class="container">
			<h2 class="text-center">Reimbursement Request</h2>
			<div class="row">
				<div class="form-group col-sm">
					<input type="text" id="location" class="form-control"
						required="required" placeholder="Location">
				</div>
				<div class="form-group col-sm">
					<input type="text" id="description" class="form-control"
						required="required" placeholder="Description">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm">
					<div class="input-group">
						<span class="input-group-addon">Type of Event</span> <select
							id="eventTypeSelector" class="form-control">
							<option value="1">University Course</option>
							<option value="2">Seminar</option>
							<option value="3">Certification Prep Class</option>
							<option value="4">Certification</option>
							<option value="5">Technical Training</option>
							<option value="6">Other</option>
						</select>
					</div>
				</div>
				<div class="form-group col-sm">
					<div class="input-group">
						<span class="input-group-addon">$</span> <input id="cost"
							type="number" class="form-control" placeholder="Cost" min="0" max="1000"
							required="required"> <span class="input-group-addon">.00</span>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm">
					<input type="number" id="workTimeMissed" class="form-control"
						placeholder="Number of Workdays Missed" min="0"
						required="required">
				</div>
				<div class="form-group col-sm">
					<div class="input-group">
						<span class="input-group-addon">$</span> <input
							id="expectedReimbursement" type="number" class="form-control"
							placeholder="Expected Reimbursement" readonly> <span
							class="input-group-addon">.00</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm">
				<div class="form-group col-sm">
					<div class="input-group">
						<span class="input-group-addon">Event Start Date</span><input
							type="date" id="startDate" class="form-control"
							required="required">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm">
					<div class="input-group">
						<span class="input-group-addon">Grading Format</span> <select
							id="gradingFormatSelector" class="form-control">
							<option value="1">Standard</option>
							<option value="2">Presentation</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm">
					<input type="text" id="justification" class="form-control"
						required="required" placeholder="Justification">
				</div>
				<div class="form-group col-sm">
					<button id="submitRequestForm" class="btn btn-primary btn-block">Submit</button>
				</div>
			</div>
			<div class="alert alert-danger" id="submitmessage" ></div>
		</div>
	</div>
</div>