<div class="modal-dialog">
	<div class="loginmodal-container">
		<h1>Submit a Tuition Reimbursement Request</h1><br>
			<input type="text" id="firstname" placeholder="First Name" style="width: 50%;"><input type="text" id="lastname" placeholder="Last Name" style="width: 50%;">
			<select id="dept"></select><br><br>
			<input type="text" id="supfirstname" placeholder="Supervisor's First Name" style="width: 50%;"><input type="text" id="suplastname" placeholder="Supervisor's Last Name" style="width: 50%;">
			<div class="alert alert-danger" id="supmessage" ></div>
			<input type="text" id="email" placeholder="email">
			<div class="alert alert-danger" id="emailmessage" ></div>
			<input type="password" id="pass" placeholder="password">
			<input type="password" id="vpass" placeholder="verify password">
			<div class="alert alert-danger" id="passmessage" ></div>
			<input type="checkbox" id="supervisor"> I am a project manager/supervisor.<br><br>
			<input type="submit" id="doregister" class="login loginmodal-submit" value="Register">

	</div>
</div>