<button id="approve" style="width: 20%; display: none;">Approve</button> 
<button id="deny" style="width: 20%; display: none;">Deny</button>
<table id="table_id" class="display">

	<thead>

		<tr>
			
			<th>Request ID</th>
			
			<th>Status</th>

			<th>Creation Date</th>

			<th>Event Date</th>

			<th>Amount given</th>

			<th>Location</th>

			<th>Event</th>

			<th>Cost</th>

			<th>Reason</th>

			<th>Event Start Time</th>

			<th>Grade</th>

			<th>Needed to pass</th>

			<th>Work days missed</th>

			<th>Description of Class</th>

			<th>Comments</th>

		</tr>

	</thead>

	<tbody>

		<tr>

			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>

		</tr>
	</tbody>

</table>

