<h1>
	Employee page for <span id="name"></span>!
</h1>

<h3>Here are your reimbursement requests:</h3>
<table id="reqTable" class="display">
	<thead>
		<tr>
			<!-- th>requestId</th>
			<th>eventType</th>
			<th>startDate</th>
			<th>endDate</th>
			<th>location</th>
			<th>description</th>
			<th>cost</th>					dont use this
			<th>gradingStyleId</th>
			<th>grade</th>
			<th>requestDate</th>
			<th>requestTime</th>
			<th>flaggedId</th>
			<th>approvalId</th> -->
			<th>ID</th>
			<th>Type</th>
			<th>Start</th>
			<th>End</th>
			<th>Location</th>
			<th>Description</th>
			<th>Cost</th>
			<th>Grade</th>
			<th>Req. Date</th>
			<th>Req. Time</th>
			<th>Approval</th>			
		</tr>
	</thead>
</table>