<h1>New Tuition Reimbursement Request</h1>
<input type="text" id="type" placeholder="Event Type" required>
<br>
<input type="text" id="start" placeholder="Start Date (YYYY-MM-DD)" required>
<br>
<input type="text" id="end" placeholder="End Date (YYYY-MM-DD)" required>
<br>
<!-- <div class="alert alert-danger" id="message"></div> -->
<input type="text" id="location" placeholder="Location">
<br>
<!-- <input type="text" id="bday" placeholder="Birthday">
<br> -->
<textarea rows="4" cols="50" id="description">
Description</textarea>
<br>
<input type="number" id="cost" placeholder="Cost" required>
<br>
Enter your grade as a number from 0-100:
<input type="number" id="grade" placeholder="Grade" required>
<br>
<br>
<br>
<br>
<button id="submitRequest">Submit Request</button>
<br>
<button id="backToEmployee">Return to Employee Page</button>
<br>