<h1>Registration</h1>
<input type="text" id="fn" placeholder="First Name">
<br>
<input type="text" id="ln" placeholder="Last Name">
<br>
<input type="text" id="uname" placeholder="Username">
<br>
<div class="alert alert-danger" id="message"></div>
<input type="password" id="pass" placeholder="password">
<br>
<!-- <input type="text" id="bday" placeholder="Birthday">
<br> -->
<input type="text" id="addr" placeholder="Address">
<br>
<input type="text" id="zip" placeholder="Zip Code">
<br>
<input type="text" id="title" placeholder="Work Title">
<br>
<input type="text" id="sup" placeholder="Supervisor ID">
<br>
<input type="text" id="head" placeholder="Dept. Head ID">
<br>
<input type="text" id="ben" placeholder="BenCo ID">
<br>
<input type="text" id="app" placeholder="Approved Funds">
<br>
<input type="text" id="pen" placeholder="Pending Funds">
<br>
<br>
<br>
<button id="register">Register</button>
<br>
<button id="return">return to login page</button>
<br>