<h1>Registration</h1>
<input type="text" id="fn" placeholder="First Name" required>
<br>
<input type="text" id="ln" placeholder="Last Name" required>
<br>
<input type="text" id="uname" placeholder="Username" required>
<br>
<div class="alert alert-danger" id="message"></div>
<input type="password" id="pass" placeholder="password"required>
<br>
<!-- <input type="text" id="bday" placeholder="Birthday">
<br> -->
<input type="text" id="addr" placeholder="Address">
<br>
<input type="text" id="zip" placeholder="Zip Code">
<br>
<input type="text" id="title" placeholder="Work Title">
<br>
<input type="text" id="dept" placeholder="Department ID">
<br>
<input type="text" id="app" placeholder="Approved Funds">
<br>
<input type="text" id="pen" placeholder="Pending Funds">
<br>
<br>
<br>
<button id="register">Register</button>
<br>
<button id="return">return to login page</button>
<br>