<div class=container>
	<h1>Tuition Reimbursement Management System</h1>
	<span id="name"></span><br> <span id="employee_type"></span>
</div>

<div class="container">
	<div class="row">
		<!-- TODO: Us JS to apply narrowing with style="col-sm-4" and "col-sm-8", respectively -->
		<div id="approve_rr" style="display: none;"
			class="container jumbotron alert-success">
			<h3>Special Actions:</h3>
			<button id="pending_button" class="btn btn-primary btn-sm">
				View Pending<br>Requests
			</button>
		</div>
		<div id="home_view" class="container jumbotron">
			<h3>Manage Reimbursements</h3>
			Reimbursements paid: $<span id="paid_reimbursements"></span><br>
			Reimbursement money remaining: $<span id="remaining_reimbursements"></span>
			<br>
			<div id="submit_rr">
				<button id="sub_rr_button" class="btn btn-primary">Submit a
					new Reimbursement Request.</button>
				<br>
			</div>
			<br>
			<div id="view_rr" class="container">
				<table id="reimbursements_table"
					class="table table-condensed table-hover" style="max-width: 100%;">
					<thead>
						<tr>
							<th>Reimbursement ID</th>
							<th>Submission Date</th>
							<th>Event Date</th>
							<th>Event Type</th>
							<th>Total Cost</th>
							<th>Status</th>
							<th>Received Reimbursement</th>
							<th>More Info</th>
						</tr>
					</thead>
					<tbody id="r_table_body">

					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>
