@charset "ISO-8859-1";

html,
body {
  background: #efefef;
  padding: 10px;
  font-family: 'Varela Round';
}

a {
  color: #aaaaaa;
  transition: all ease-in-out 200ms;
}

a:hover {
  color: #333333;
  text-decoration: none;
}

a.active {
    background-color: #4CAF50;
    color: white;
}


.logo {
  padding: 15px 0;
  font-size: 25px;
  color: #aaaaaa;
  font-weight: bold;
}
