<div class="jumbotron container form-control">

	<h1 align="center">Login and Registration Page</h1>
	<br> <br>
	<div class="form-group" align="center">
		<label for="email" class="control-label col-xs-4"> <strong>Email</strong>
		</label>
		<div class="col-xs-8">
			<input id="email" name="email" placeholder="Enter your email"
				type="text" class="form-control" required="required" style="width:200px;">
		</div>
	</div>
	<br> 
	<div class="form-group" align="center">
		<label for="pass" class="control-label col-xs-4"> <strong>Password</strong>
		</label>
		<div class="col-xs-8">
			<input id="pass" name="pass" placeholder="Enter your password"
				type="text" class="form-control" required="required" style="width:200px;">
		</div>
	</div>
	<br>
 	<p class="danger" id="message"></p>
	<br> <br>
	<div align="center">
		<button class="btn btn-submit" id="login" name="submit" type="submit">Log in</button>
		<button class="btn btn-submit" id="register" name="submit" type="submit">Register</button>
	</div>
</div>