<div class="jumbotron container form-control">

	<h1 align="center">Registration</h1>

	<br> <br>
	<div class="form-group" align="center">
		<label for="fn" class="col-4 col-form-label">First name</label>
		<div class="col-8">
			<input id="fn" name="fn" placeholder="Enter first name" type="text"
				required="required" class="form-control">
		</div>
	</div>
	<br> <br>
	<div class="form-group" align="center">
		<label for="ln" class="col-4 col-form-label">Last name</label>
		<div class="col-8">
			<input id="ln" name="ln" placeholder="Enter last name" type="text"
				required="required" class="form-control here">
		</div>
	</div>
	<br> <br>
	<div class="alert alert-danger" id="message" align="center"></div>
	<div class="form-group" align="center">
		<label for="username" class="col-4 col-form-label">Email</label>
		<div class="col-8">
			<input id="username" name="username" placeholder="Enter email"
				type="text" required="required" class="form-control here">
		</div>
	</div>
	<br> <br>
	<div class="form-group" align="center">
		<label for="pass" class="col-4 col-form-label">Password</label>
		<div class="col-8">
			<input id="pass" name="pass" placeholder="Enter password"
				type="password" required="required" class="form-control here">
		</div>
	</div>
	<br> <br>
	<div class="form-group" align="center">
		<label for="dep" class="col-4 col-form-label">Department</label>
		<div class="col-8">
			<select id="dep" name="dep" class="custom-select">
				<option value="1">Regular Employee</option>
				<option value="2">Direct Supervisor</option>
				<option value="3">Department Head</option>
				<option value="4">Benefits Coordinator</option>
			</select>
		</div>
	</div>
	<br> <br>
	<div class="form-group" align="center">
		<label for="dob" class="col-4 col-form-label">Date of Birth</label>
		<div class="col-8">
			<input id="dob" name="dob" placeholder="month/day/year" type="text"
				class="form-control here">
		</div>
	</div>
	<br> <br>
	<div class="form-group" align="center">
		<label for="address" class="col-4 col-form-label">Address</label>
		<div class="col-8">
			<input id="address" name="address" placeholder="Enter address"
				type="text" class="form-control here">
		</div>
	</div>
	<br> <br>
	<div class="form-group" align="center">
		<label for="zip" class="col-4 col-form-label">Zip code</label>
		<div class="col-8">
			<input id="zip" name="zip" placeholder="Enter Zip code" type="text"
				class="form-control here">
		</div>
	</div>
	<br> <br>
	<div class="form-group">
		<div class="offset-4 col-8">
			<button id="register" name="submit" type="submit"
				class="btn btn-primary">Register</button>
		</div>
	</div>
</div>
