<h2>
	Welcome to your bank <span id="name"></span>!
</h2>
<!-- Here are your accounts:
<table id="reimbursementTable" class="display">
	<thead>
		<tr>
			<th>Id</th>
			<th>Balance</th>
		</tr>
	</thead>
</table> -->

<div id="attachGrades"></div>
<form>
	<h1>Reimbursement Request Form</h1>
	<div class="form-group">
	<input type="text" class="form-control" id="firstname" placeholder="Enter your first name"></div>
	<input type="text" class="form-control" id="lastname" placeholder="Enter your last name">
	
</form>