<h1>Registration</h1>
	<select id="departmentSelect" class="form-control">
		<option value=1>Math</option>
		<option value=2>Art</option>
		<option value=3>Computer Science</option>
		<option value=4>Music</option>
		<option value=5>English</option>
		<option value=6>Philosophy</option>
		<option value=7>Psychology</option>
		<option value=8>Physics</option>
		<option value=9>Law</option>
		<option value=10>Business</option>
		<option value=11>Chemistry</option>
		<option value=12>Biology</option>
	</select><br>
	<select id="employeeTitle" class="form-control">
		<option value=1>Employee</option>
		<option value=2>Supervisor</option>
		<option value=3>Department Head</option>
		<option value=4>Benefits Coordinator</option>
	</select><br>
	<input type="text" id="firsname" placeholder="First Name" class="form-control"> <br>
	<input type="text" id="lastname" placeholder="Last Name" class="form-control"> <br>
	<!--  
	<input type="text" id="street" placeholder="Street" class="form-control"> <br>
	<input type="text" id="city" placeholder="City" class="form-control"> <br>
	<input type="text" id="state" placeholder="State" class="form-control"> <br>
	<input type="text" id="zip" placeholder="Zip" class="form-control"> <br> 
	-->
	<input type="text" id="email" placeholder="email" class="form-control"> <br>
		<div class="alert alert-danger" id="message"></div>
	<input type="password" id="pwd" placeholder="password" class="form-control"><br>
	
	<select id="supervisor" class="form-control">
		<option value=20>Andersmith Brightwood</option>
		<option value=21>Sebastian Locke</option>
		<option value=22>Dresvina Shingles</option>
		<option value=23>Soda Pop</option>
	</select><br>
	<br>
	<button id="register">Register</button>
	<br>