<div class="home">
	<div class="backdrop">
		<h1>
			Welcome <span id="name"></span>!
		</h1>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="container" style="border-right: 1px solid #ccc">
						<table id="empReimbursementInfo" class="reimbursementInfoTable">
							<thead>
								<th><h4>Reimbursement Information</h4></th>
							</thead>
							<tr>
								<td>Amount Available: $<span id="amountAvailable"></span></td>
							<tr>
								<td>Max Available: $<span id="maxAvailable"></span></td>
							</tr>
							<tr>
								<td>Amount Pending: $<span id="amountPending"></span></td>
							</tr>
							<tr>
								<td>Amount Awarded: $<span id="amountAwarded"></span></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-sm-9">
					<div class="container">
						<div class="row">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4>Pending Requests</h4>
								</div>
								<table id="pendingRequests" class="table table-fixed">
									<thead>
										<tr>
											<th>Request Id</th>
											<th>Description</th>
											<th>Start Date</th>
											<th>Cost</th>
											<th>Expected Reimbursement</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody id="pendingRequestsTBody">
										<tr class="requestRow">
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Requests Requiring Review</h4>
					</div>
					<table id="approvalDenialTable">
						<thead>
							<tr>
								<th>Request Id</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Description</th>
								<th>Start Date</th>
								<th>Location</th>
								<th>Type of Event</th>
								<th>Cost</th>
								<th>Expected Reimbursement</th>
								<th>Justification</th>
								<th>Work Missed (Days)</th>
								<th>Priority</th>
								<th>Status</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
							</tr>
						</tbody>
					</table>
				</div>
				</div>
			</div>
		</div>
		<button id="submitRequest">Submit Request</button>
	</div>
</div>
