<div class="login-form">
        <h2 class="text-center">Login</h2>
        <div class="form-group">
            <input id="email" type="email" class="form-control" required="required" placeholder="Email">
        </div>
        <div class="form-group">
            <input id="password" type="password" class="form-control" required="required" placeholder="Password">
        </div>
        <p class="danger" id="message"></p>
        <div class="form-group">
            <button class="btn btn-primary btn-block" id="login">login</button>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" id="register">register</button>
        </div>
</div>