<div class="text-center" style="padding:50px 0">
	<div class="logo">Fill out reimbursement request information</div>
	
	<input type="date" id="event_date" placeholder="Event Date">
	<input type="text" id="event_city" placeholder="City"> <br>
	<input type="text" id="event_state" placeholder="State"> <br>
	<input type="number" id="cost" placeholder="Cost of Event"> <br>
	
	<select id="event_type">
		<option selected="selected" disabled>Event Type</option>
		<option value="1">University Course</option>
		<option value="2">Seminar</option>
		<option value="3">Certification Preparation Class</option>
		<option value="4">Certification</option>
		<option value="5">Technical Training</option>
		<option value="6">Other</option>
	</select><br>
	
	<select id="format">
	  	<option selected="selected" disabled>State</option>
	  	<option value="1">Presentation-based</option>
		<option value="2">Grade-based</option>
	</select><br>
	
	<input type="text" id="desc" placeholder="Description"><br><br>

	<button id="submit">Submit Request</button>
	<br>
</div>